<app-bar-info></app-bar-info>
<div class="container">
  <div class="row">
    <div class="col-lg mx-auto">
      <div class="card card-compra">
        <div class="form-group">
          <button type="button" class="btn btn-registrar btn-block text-uppercase btn-xl" (click)="cancelar();">
             {{ !openCrud ? "Cadastrar compra" : "Cancelar" }} 
          </button>
        </div>
        <div class="card-body">
          <form [formGroup]="formCompra" novalidate (ngSubmit)="saveCompra()" *ngIf="openCrud">
            <div class="form-label-group">
              <label for="inputCodigo">Código</label>
              <input class="form-control" id="inputCodigo" formControlName="codigo" 
                minlength="1" maxlength="10" required autofocus>
              <div *ngIf="formCompra.get('codigo').invalid && (formCompra.get('codigo').dirty || formCompra.get('codigo').touched)"
                class="msg-error">
                <div *ngIf="formCompra.get('codigo').errors.required">
                  Código é um campo obrigatório.
                </div>
              </div>
            </div>
            <div class="form-label-group">
              <label for="inputValor">Valor</label>
              <input class="form-control" formControlName="valor" id="inputValor"
              currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
              <div *ngIf="formCompra.get('valor').invalid && (formCompra.get('valor').dirty || formCompra.get('valor').touched)"
                class="msg-error">
                <div *ngIf="formCompra.get('valor').invalid">
                  Valor é um campo obrigatório.
                </div>
              </div>
            </div>
            <div class="form-label-group">
              <label for="inputData">Data</label>
              <input class="form-control" type="date" formControlName="data" id="inputData" required>
              <div *ngIf="formCompra.get('data').invalid && (formCompra.get('data').dirty || formCompra.get('data').touched)"
                class="msg-error">
                <div *ngIf="formCompra.get('data').errors.required">
                  Data é um campo obrigatório.
                </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <button type="submit" [disabled]='!formCompra.valid' class="btn btn-xl btn-salvar btn-block text-uppercase">
                 Salvar
              </button>
            </div>        
          </form>
        </div>
        <div> 
          
          <div style="text-align:center">
            <h5>Compras</h5>
            <hr class="my-4">
          </div>
          <div class="card-group">
              <div class="card-compra border-dark mb-3" *ngFor="let c of compras$">
                <div class="card-header text-center" 
                  [ngClass]="c.status == 'Em validação' ? 'avaliacao' : c.status == 'Aprovado' ? 'aprovado' : 'reprovado'">
                  <div class="text-center" >
                    {{c.status}}
                  </div>
                  <div class="text-codigo" >
                    {{c.codigo}}
                  </div>
                </div>
                <div class="card-body card-body-list card ">
                  <div style="display: flex;"> 
                    <div class="text-left">
                      <svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 0H2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M6.5 7a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                      </svg>
                    </div>
                    <div>
                      <p class="text-right"> {{c.data | date:'dd/MM/yyyy'}}</p>
                    </div>
                  </div>
                  <div style="display: flex;"> 
                    <div class="text-left">
                      <svg class="bi bi-credit-card" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                        <rect width="3" height="3" x="2" y="9" rx="1"/>
                        <path d="M1 5h14v2H1z"/>
                      </svg>
                    </div>
                    <div>
                      <p class="text-right">{{c.valor | currencyBrazil}}</p>
                    </div>
                  </div>
                  <div style="display: flex;"> 
                    <div class="text-left">
                      <span><strong>%</strong></span>
                    </div>
                    <div>
                      <p class="text-right"> {{c.percentual}}</p>
                    </div>
                  </div>              
                </div>
                <div class="card-footer bg-transparent card text-right">
                  <div id="footer-cash"> 
                    <div id="footer-cash-icon">
                      <svg class="bi bi-trophy" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 011-1h8a1 1 0 011 1H3zm2-1a1 1 0 011-1h4a1 1 0 011 1H5z"/>
                        <path fill-rule="evenodd" d="M12.5 3a2 2 0 100 4 2 2 0 000-4zm-3 2a3 3 0 116 0 3 3 0 01-6 0zm-6-2a2 2 0 100 4 2 2 0 000-4zm-3 2a3 3 0 116 0 3 3 0 01-6 0z" clip-rule="evenodd"/>
                        <path d="M7 10h2v4H7v-4z"/>
                        <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z"/>
                      </svg>
                    </div>
                    <div *ngIf="c.cashback > 0">
                      <p class="card-text"> {{c.cashback | currencyBrazil}}</p>
                    </div>
                    <div *ngIf="c.cashback == 0">
                      <p class="card-text">R$ 0,00</p>
                    </div>
                  </div>         
                </div>
              </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
